/*
  Icon Font: lhc
*/

@font-face {
  font-family: "lhc";
  src: url("./lhc.eot");
  src: url("./lhc.eot?#iefix") format("embedded-opentype"),
       url("./lhc.woff2") format("woff2"),
       url("./lhc.woff") format("woff"),
       url("./lhc.ttf") format("truetype"),
       url("./lhc.svg#lhc") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "lhc";
    src: url("./lhc.svg#lhc") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.i-lhc:before {
  display: inline-block;
  font-family: "lhc";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.i-lhc:before { content: "\f100"; }
